<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cundong.izhihu"
    android:versionCode="16"
    android:versionName="2.32" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name=".ZhihuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Daily.AppTheme.Light" >
        
        <activity android:name=".activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.NewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="daily.zhihu.com" android:pathPattern="/story/.*" />
                <data android:scheme="zhihudaily" android:host="story" android:pathPattern="/.*" />
                <data android:scheme="zhihudaily" android:host="section" android:pathPattern="/.*" />
                <data android:scheme="zhihudaily" android:host="theme" android:pathPattern="/.*" />
                <data android:scheme="zhihudaily" android:host="editor" android:pathPattern="/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsDetailImageActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.PrefsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.OtherPrefsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        
        <meta-data android:value="543c987afd98c536ba00c920" android:name="UMENG_APPKEY"/>
		<meta-data android:value="WanDouJia" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>