<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="news_qa.min.css" rel="stylesheet">
    <link href="center_cropped.css" rel="stylesheet">
    <script src="img_replace.js"></script>
</head>
<body>

<div class="main-wrap content-wrap">
    <div class="headline">
        <div class="img-place-holder"></div>
    </div>
    <div class="content-inner">
        <div class="question">
            <h2 class="question-title"></h2>

            <div class="answer">
                <div class="meta"><img class="avatar"
                                       src="http://p3.zhimg.com\/5e\/4c\/5e4ce4ac0_is.jpg"><span
                        class="author">菠菜，</span><span class="bio">豆瓣阅读作品《情感问答》上架，欢迎选购</span></div>
                <div
                        class="content"><p>1、她们不认识男人。</p>

                    <p>
                        大部分女人，不具备一眼就被海了的男人拼命追的素质，而且大部分感情，不是死缠烂打表白出来的，是轻轻松松处出来的。特别是漂亮的姑娘们，从小到大对花言巧语都免疫了，姐姐妹妹们没看过猪跑还能没吃过猪肉嘛？所以那些过来说我欣赏你啊的愣头青，她们完全没感觉。</p>


                    <p>但免疫了甜言蜜语以后，她们又没有其他途径可以认识男人，男人在干嘛，在打游戏，在玩麻将，在 AV 里看姑娘，找机会打手枪&hellip;&hellip;（当然不一定都是干这事，我只是为了押韵什么都干的出来）总之男人有许多爱好在这群姑娘们眼里，都是不务正业的，但其实这些都是男人的正常需求而已。要让男人来正儿八经地知道你的好，然后追求你的好，那得给人家接触机会啊，一点也不找机会在男人堆里混的女孩子，再好看，也最多男人要个你
                        QQ，打几个招呼，但通过 QQ
                        又能互相增加多少好感呢？只有被人嘴巴追求一个途径的结识男人，很容易越来越做作，越来越虚伪，越来越言不由衷又焦躁无聊，所以也会对异性的认识越来越偏差。</p>


                    <p>
                        所以我觉得女孩子，特别是读书的时候，多参加点打工，多打打网络游戏，多参加点牌局赌局，多去舞厅跳跳舞，甚至去学个车啊，参加点集体活动啊，都是可以执行的方法&hellip;&hellip;找男人要去男人多的地方找，哪怕这种生活方式不会给你考试加
                        10
                        分，也不会让你每个月多赚多少钱，但是适当的，哪怕是不务正业的娱乐活动也是必要的，不要怕，怕男人会占自己便宜。一来强奸没有那么简单，二来你没有那么多便宜可以占，三其实年轻的时候越明白男人不是自己的敌人，把他当成一个&hellip;&hellip;正常人来拉距离，越容易分辨出香臭来。</p>


                    <p>总之要找男朋友第一步，先认识男人。</p>

                    <p>2、准入门槛太高。</p>

                    <p>许多女孩子有这样的问题，就是她们不轻易去&ldquo;爱&rdquo;，但如果没有&ldquo;爱&rdquo;作为前提，她们又不太好意思和男人多接触，如果和男人吃过几次饭，聊过几次天，她们就会急于下一个到底合适不合适的结论，然后不合适的话就不准备再联系了，而且有了一个看起来合适的人，就拒绝其他男人的一切来往了（当然也希望男人拒绝其他女人的一切来往）。这种性格看起来是挺不错的，但其实不适合普通人的循序渐进的交往，而是把自己打造成了&hellip;&hellip;孤岛。而且等你觉得不合适了，要换，发现时间耗下去了，心智反而没有成熟更加焦虑，手边又完全没有的男人，越怕就越不值，越不值又越不敢开始。</p>


                    <p>
                        其实，除非条件特别赞，或者特别对眼的两个人，大部分人的交往判断，都需要先期投入时间和精力，先投入，再判断，找一个合适的人，可不比找到一份心仪的工作简单啊。你看我们要做想做的工作，要上好学校，要考试，要拿奖学金，然后，还要做好几年马仔&hellip;&hellip;然后才能慢慢适应工作并创造性的工作。两性关系也一样啊，哪有什么都不懂的人吃几次饭马上就会懂判断，知进退了呢？</p>


                    <p>
                        所以其实和男人交往，绝对不要急着下判断，越没有经验的人，判断越容易失误。而且心胸要开阔，人家男孩子和你们一样，约会很紧张的啦，偶尔犯个错误，纠结一下，不要先入为主地就觉得人家不合适，和姐妹们吐槽，觉得他们极品，自己撸一辈子吧
                        - - 我认识身边的优秀男人，把一些刚入门时候犯的错误说出来，更极品&hellip;&hellip;</p>

                    <p>
                        男人和女人是可以共同成长的，一步到位是不可能的，拒绝和他们一起成长，也是拒绝了自己的成长，所以女孩子们，多找点和男人一起干的事情，多有事没事在男人面前转转，多找借口一起玩玩，打开窗，让风吹进来。至于是不是舒服到要脱衣服，慢慢来，慢慢考虑好了。</p>
                </div>
            </div>

            <div class="view-more"><a
                    href="http://www.zhihu.com\/question\/22665806">查看知乎讨论<span
                    class="js-question-holder"></span></a></div>
        </div>
    </div>
</div>

</body>
</html>